<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>1094609310749-o0ekci3s5vru1dc51bp47t0du49nvt4r.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.1094609310749-o0ekci3s5vru1dc51bp47t0du49nvt4r</string>
				</array>
		</dict>
	</array>
</dict>
</plist>
